.jumbotron {
    width: 60%;
    height: 100%;
    background-color: aqua;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 700px;
}

.jumbotron .card {
    float: left;
    width: 30%;
    margin-left: 150px;
}

.jumbotron .card .card-body img {
    width: 250px;
}

.details {
    float: right;
    width: 35%;
    height: 370px;
    margin-right: 130px;
    margin-top: 0px;
    font-size: large;
    font-weight: bold;
    background-color: aliceblue;
    padding-top: 50px;
    padding-left: 30px;
}

.details hr {
    width: 200px;
    height: 5px;
    background-color: blue;
}

body {
    background-image: url("https://www.pexels.com/photo/shopping-cart-next-to-a-gift-box-5632395/");
    background-repeat: no-repeat;
    background-size: cover;
}

.category {
    float: right;
    width: 300px;
    margin-right: 130px;
    margin-bottom: 200px;
    margin-top: 100px;
}

.category .card .card-body h4 {
    padding-left: 15px;
    font-size: x-large;
    font-weight: bold;
}

.category .card .card-body ul button {
    font-size: larger;
    font-weight: bold;
    color: blue;
    background-color: ghostwhite;
    text-decoration: none;
}

body {
    background: url(../images/details.png)no-repeat center/cover;
}